<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://kit.fontawesome.com/8045a273a1.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav>
        <a href="/"><i class="fa-solid fa-house"></i></a>
        
    </nav>
  
    
    <form class="login" action="/login" method="post">
        <div class="signup-header">
            <h1>Login In here</h1>
        </div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username"required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your username"required>
        <button onclick="playAudio()" type="submit">Login</button>
        <p>Create account ? <a href="/signup">Signup</a></p>
        <div class="g-signin2" data-width="340px" data-height="50px" data-longtitle="true">
    </form>
   
    <script>
       // Display loading spinner on form submission
        document.getElementById('login-form').addEventListener('submit', function () {
            document.getElementById('loading-spinner').style.display = 'block';

            // Delay hiding the spinner for at least 500 milliseconds
            setTimeout(function () {
                document.getElementById('loading-spinner').style.display = 'none';
            }, 5);
        });    </script>
    
      
      
      
</body>

</html>
