<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Your head content here -->
    <script src="https://kit.fontawesome.com/8045a273a1.js" crossorigin="anonymous"></script>
    <title>Sheet</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">

</head>

<body>
    <div class="navi">
        <nav style="background-color: #202222;">
            <div class="left-links">
               
                <i class="fa-brands fa-squarespace" style="background: linear-gradient(to right, #7500aa, #2b86c5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"></i>
                <div class="logo" style="background: linear-gradient(to right, #7500aa, #2b86c5); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Dork</div>
            </div>
            <div class="center-links">
                <a href="/dashboard">Practice</a>
                <a href="/analyzer"  >Analyze</a>
                <a href="/sheet" style="background-color:#333333;color: #ffffff;border-radius: 15px;">Sheet</a>
                <a href="/explore">Explore</a>

                <a href="#theme">Light theme <i class="fa-solid fa-circle-half-stroke"></i></a>
            </div>
            <div class="right-links">
                <a href="/profile" rel="noopener noreferrer" ><i class="fa-solid fa-user"></i>  <%= uname %><i class="fa-solid fa-angle-down"></i></a>
                <a href="/logout" class="logout-container"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
        </nav>
    </div>
    <div class="default-data">
        <i class="fa-solid fa-code-merge"></i>        
        <p>Feature under development.  </p>
        <p> Beta release, March 27, 2024.</p>
    </div>

  

</body>

</html>
