<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="signup-header">
        <h1>Sign Up here</h1>
    </div>
    <form action="/signup" method="post">
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="email" placeholder="Enter your email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        
        <button type="submit" onclick="playAudio()">Sign Up</button>
        <p>Already have an account? <a href="/login">Login</a></p>
        <audio id="myAudio">
            <source src="click.wav" type="audio/mpeg">
        </audio>
        <script>
            var x = document.getElementById("myAudio"); 

            function playAudio() { 
                x.play(); 
            } 
        </script>
    </form>
</body>

</html>
