<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm Topics</title>
    <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<body>

    <h1>Algorithm Topics</h1>

    <table>
        <thead>
            <tr>
                <th>Topics</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>2-sat</td></tr>
            <tr><td>binary search</td></tr>
            <tr><td>bitmasks</td></tr>
            <tr><td>brute force</td></tr>
            <tr><td>chinese remainder theorem</td></tr>
            <tr><td>combinatorics</td></tr>
            <tr><td>constructive algorithms</td></tr>
            <tr><td>data structures</td></tr>
            <tr><td>dfs and similar</td></tr>
            <tr><td>divide and conquer</td></tr>
            <tr><td>dp</td></tr>
            <tr><td>dsu</td></tr>
            <tr><td>expression parsing</td></tr>
            <tr><td>fft</td></tr>
            <tr><td>flows</td></tr>
            <tr><td>games</td></tr>
            <tr><td>geometry</td></tr>
            <tr><td>graph matchings</td></tr>
            <tr><td>graphs</td></tr>
            <tr><td>greedy</td></tr>
            <tr><td>hashing</td></tr>
            <tr><td>implementation</td></tr>
            <tr><td>interactive</td></tr>
            <tr><td>math</td></tr>
            <tr><td>matrices</td></tr>
            <tr><td>meet-in-the-middle</td></tr>
            <tr><td>number theory</td></tr>
            <tr><td>probabilities</td></tr>
            <tr><td>schedules</td></tr>
            <tr><td>shortest paths</td></tr>
            <tr><td>sortings</td></tr>
            <tr><td>string suffix structures</td></tr>
            <tr><td>strings</td></tr>
            <tr><td>ternary search</td></tr>
            <tr><td>trees</td></tr>
            <tr><td>two pointers</td></tr>
        </tbody>
    </table>

</body>
</html>
