/* dashboard.css */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
body {
    background-color: #191a1a;
    font-family: "Sora", sans-serif;
    color: #747777;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: #e1e1df;
    margin-top: 2vh;
    transform: translateY(-50%);
}

table {
    border-collapse: collapse;
    width: 90%; /* Increase the width as needed */
    margin: 0 auto;
    border: none;
    margin-top: 20px;
}

th, td {
    padding: 20px; /* Adjust padding as needed */
    text-align: center;
    border: 0.1px solid #3d3d3b;
}
th{
    background-color: #333333;
    color:#e1e1df ;
}
h2{
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #e1e1df;
}

input {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

/* Add any additional styles specific to the dashboard if needed */

/* Move the "hello yagensh" down to the logout button */
nav .logout-container  {
    padding: 10px;
    background-color: #0498af;
    color: #1a2e31;
    
}
nav .logout-container:hover{
    background-color: #0498af;
}
p{
    color: #e1e1df;
    font-weight: 400;
    font-size: 33px;
    text-align: center;
}

/* Updated CSS code */

form {
    background-color: red;
    display: flex;
    margin-top: 14px ;
    margin-left: 60px;
    margin-right: 20px;
    max-width: 80%;
    padding: 20px 230px;
    background-color: #202222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* Center the form content */
}

form label {
    margin-right: 20px;
    margin-left:50px ;
    margin-bottom: 5px;
    margin-top: 40px ;/* Adjust the margin as needed */
    padding: 10px 30px;
    font-size: 20px;

}

form input {
    color: #747777;
    margin-right: 20px;
    margin-left: 20px;
    width: 35%;
    padding: 20px 30px ;
    margin-bottom: 5px;
    margin-top: 5px;
    box-sizing: border-box; /* Adjust the margin as needed */
    height: 40px;
    align-items: center;
    background-color: #202222;
    border: 2px solid #3d3d3b;

}

form button {
    margin-right: 50px;
    margin-left: 20px;
    font-family: "Sora", sans-serif;
    font-weight: 300;

    width: 16%;
    padding: 8px;
    font-size: 20px;
    background-color: #1fb8cd; /* Violet color */
    color: #1a2e31;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
form button:hover{
    border: 2px solid #e3e3e3;
    background-color:#22c1d9 ;

}
.user-details {
    font-family: "Sora", sans-serif;
    font-weight: 400px;
    font-size: 25px;


}
.rating {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    background-color: #191a1a;
}

.rating button {
    background-color: #333333;
    color: #e3e3e3;
    width: 6%;
    height: 40px;
    border: 1px solid #3d3d3b;
    padding: 15px 20px;
    margin: 0 10px;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;

}

.rating button:hover {
    transform: scale(1.1);
    border:2px solid #1faabe;
    color: #ffffff;
    background-color:#414141 ;


}

.rating button:active {
    border-color: #1faabe;
}

nav {
    background-color: #202222;
    overflow: hidden;
    width: 100%;
    padding: 13px;
    color: #e1e1df;

}

nav a {
    float:left;
    display: block;
    color:#e1e1df;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #333333;
    color: #ffffff;
    transition: all 0.2s;

}

.default-data p {
    text-align: center;
    color: #747777;
    font-size: 20px;
}

.default-data i {
    font-size: 3rem; /* Adjust the size according to your preference */
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
