@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body {
    font-family:"Sora", sans-serif;
}

h1 {
    font-family: "Sora", sans-serif;
    text-align: center;
    color: #333; /* You can change the color as per your preference */
    font-size: 80px;
    text-align: center;
    margin-top: 40vh; /* Adjust the margin-top to center the text vertically */
    transform: translateY(-50%);
}
h1 {
    color: #333;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}


h2 {
    font-family: "Playfair Display", serif;
    font-weight: 200px;
    font-size: 30px;
    color: #333;
    font-style: italic;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000000; /* Set the background color */
    border: black;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: hsl(51, 100%, 75%); /* Darker blue on hover */
}

/* Style for the "Sign Up" button */
button.signup {
    background-color: #2ecc71; /* Green color */
}

button.signup:hover {
    background-color: #3c5546; /* Darker green on hover */
}



/* styles.css */
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 50vh;
}

.analysis-website {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
    overflow: hidden;

}

.analysis-website h2 {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    padding: 10px;
    margin: 0 80px;
    font-size: 50px; /* Add margin between each h2 element */
    font-style: normal;
}

#features {
    margin: 100px;
  }
  
  #features .container .row {
    display: flex;
    flex-wrap: nowrap;
  }
  
  #features .container .row .col {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  