/* public/css/style.css */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body {
    font-family: "Playfair Display", serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display:grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    max-width: 400px;
    width: 100%;
    padding: 30px 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* Center the form content */
}

h1 {
    color: #333;
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    
    width: 100%;
    padding: 10px;
    background-color: #0d0c22; /* Violet color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3b3954; /* Darker shade on hover */
}
.btn:focus{
    background-color: #1f1c44;


}
.signup-header {
    text-align: center;
    margin-top: 30px; /* Adjust the margin-top value as needed */

}

.signup-header h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    color: #333; /* Adjust the color as needed */
}
/**/

.g-signin2 {
    width: 200px; /* Make the Google Sign-In button take the full width */
}
